@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Sidans bakgrund */
body{
    background-color: black;
}
/* Kontainern utseende */
.kontainer{
    width: 800px;
    padding: 30px;
    background-color: darkgray;
    margin: auto;
}

h1{

}
h2{

}
/* Boxarnas utseende */

.bild{
    background-color: black ;
    color: #fff;
    margin-bottom: 100px;
    border-radius: 20px;
    
}

img{
    width: 100%;
    
}

h3{

}

p{

}

a{

}