@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* 
Bg f채rg = #FBF7F1
Bg bild = #F5EBDC
Textf채rg = #502314
Knappen f채rg = #CC2200
typssnitt = font-family: "Modak", serif;
            font-weight: 400;
            font-style: normal;
            color: #502314 ;
*/

/* Sidlayouten */
body{

}
.kontainer{

}

/* Sidhuvud */
.sidhuvud{

}
.sidhuvud .meny{

}

.sidhuvud .meny a{

}
.sidhuvud .erbjudanden{

}

/* Sidinneh책llet */
.innehall{

}
.innehall h2{

}
.innehall .kolumner-3{

}
.innehall .kolumner-3 .burgare{

}
.innehall .kolumner-3 .burgare img{

}
.innehall .kolumner-3 .burgare p{
    
}